@model Bluepill.Search.Facet

@{ Layout = null; }

<div class="facet-container" id="facet-@Model.Id">
    <h3 class="facet-action">@Model.Name</h3>
    <ul>
        @Html.EditorFor(x => x.Aspects)
    </ul>
</div>