@model Bluepill.Search.Aspect

@{ Layout = null; }

<li>
    @Html.HiddenFor(x => x.Value)
    @Html.LabelFor(x => x.IsChecked, @Model.Text, new { @class="off" })
    @Html.CheckBoxFor(x => x.IsChecked, new { data_value=@Model.Value, data_facet=@Model.Facet, @class="hide" })
</li>