@model IEnumerable<Bluepill.Search.Aspect>

@{
    ViewBag.Title = "AspectMobile";
}

@foreach (var aspect in Model)
{
    var c = ViewData["columns"];
    var p = ViewData["perColumn"];
    
    
    <p>@aspect.Text, @c, @p</p>

}
<h2>AspectMobile</h2>
