@model Bluepill.Web.Areas.Administration.Models.CreateModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section css
{ 
    <link href="/content/bluepill.create.css" rel="stylesheet" type="text/css" />
}

@section script
{ 
    <script src="/scripts/bluepill.create.js"></script>
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" href="#">Bluepill</a>
            
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="active"><a href="#about">Add</a></li>
                    <li><a href="#contact">Search</a></li>
                    <li><a href="#contact">Sign Out</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid hidden-desktop">
    <div class="row-fluid">
        <div class="span12 blue">Instructions</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">

        <div class="add span5">
            <a class="pull-right" id="input" href="@Model.Url" target="_blank">
                <img src="/application/picture/GetResizePicture?file=@Model.Url&height=@Model.ResizedHeight&width=@Model.ResizedWidth" alt="" />
            </a>
        </div>

        <div class="span7">
            <div class="accordion facet-area">
                <form>
                    @Html.HiddenFor(x => x.Url)
                    @Html.HiddenFor(x => x.File)
                    @Html.EditorFor(x => x.Facets)
                </form>
            </div>
        </div>
        
    </div>
</div>