@model Bluepill.Web.Areas.Administration.Models.CreateModel

@{ Layout = "~/Views/Shared/_LayoutMobile.cshtml"; }

@section settings{}

            <a id="input" href="@Model.Url" target="_blank">
            <img src="/application/picture/GetResizePicture?file=@Model.Url&height=@Model.ResizedHeight&width=@Model.ResizedWidth" alt="" />
        </a>
