@model Bluepill.Web.Areas.Application.Models.SearchInterfaceModel

@{ Layout = null; }

@using(Html.BeginForm("SavePicture","Create"))
{
    @Html.HiddenFor(x => x.File)
    <div id="accordion" class="small">
        @Html.EditorFor(x => x.Facets)
    </div>
    <a href="#" id="formSubmit" class="button">Save</a>
}