@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<div>

    <h2>Create Index</h2>

    <p>stuff asdjshadljhsf</p>

    <table>
        <tr><td>cell 1</td></tr>
        <tr><td>cell 2</td></tr>
    </table>
</div>