@model Bluepill.Web.Areas.Administration.Models.CreateModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section css
{ 
    <link href="/content/administration.create.css" rel="stylesheet" type="text/css" /> 
}

@section script
{ 
    <script src="/scripts/administration.create.js" type="text/javascript"></script>
}

<h2 id="heading">
   <img src="\content\images\new-image-loading.gif" />
   <span id="message">loading files</span>
</h2>


<div class="left">
    @using(Html.BeginForm("SavePicture","Create"))
    {
        @Html.HiddenFor(x => x.File)
        <div id="accordion" class="small">
            @Html.EditorFor(x => x.Facets)
        </div>
        <input id="formSubmit" type="submit" value="Save"/>
    }
</div>
<div class="right">
    <a href="/application/picture/GetPicture?file=@Model.File" target="_blank">
        <img src="/application/picture/GetResizePicture?file=@Model.File&height=600&width=700" alt="" />
    </a>
</div>

<div id="createDialog">
    <h1>loading</h1>
</div>

<div id="totalFileCount">
    @Model.TotalFileCount
</div>