@model Bluepill.Web.Areas.layout.Models.CreateModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section css
{ 
    <link href="/content/layout.create.css" rel="stylesheet" type="text/css" /> 
}

@section script
{ 
    <script src="/scripts/application.search.interface.js" type="text/javascript"></script>
    <script src="/scripts/layout.create.js" type="text/javascript"></script>
}

@section settings{}

<div class="page">
    <div class="content">
        <div class="span12 height1">header</div>
        @*<div class="span6 height10">a</div>
        <div class="span6 height10">b</div>*@
        <div class="span1 height10">
            g
        </div>
        <div class="span11 height10">
            <div class="display">
                <div class="results">
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="100" height="200" />
                    </div>
                                        <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="100" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                                        <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>
                    <div class="result">
                        <img src="http://upload.wikimedia.org/wikipedia/en/9/92/Halo_4_box_artwork.png" width="200" height="200" />
                    </div>

                </div>
            </div>
        </div>
        <div class="span12 height1">footer</div>
    </div>
</div>