@model Bluepill.Web.Areas.layout.Models.CreateModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section css
{ 
    <link href="/content/layout.create.css" rel="stylesheet" type="text/css" /> 
}

@section script
{ 
    <script src="/scripts/application.search.interface.js" type="text/javascript"></script>
    <script src="/scripts/layout.create.js" type="text/javascript"></script>
}

@section settings{}

<div class="span12">
    <ul>
    <li>
        <label for="a">A</label>
        <input type="checkbox" id="a" />
        <ul class=""></ul>
    </li>
    <li>
        <label for="b">B</label>
        <input type="checkbox" id="b" />
        <ul class=""></ul>
    </li>
    <li>
        <label for="c">C</label>
        <input type="checkbox" id="c" />
        <div class="c children-container">
            <a href="#" class="c plus">c +</a>
            <a href="#" class="c minus">c -</a>
            <ul class="c children">
                <li>
                    <label for="c-1">C-1</label>
                    <input type="checkbox" id="c-1" />
                    <ul class=""></ul>
                </li>
                <li>
                    <label for="c-2">C-2</label>
                    <input type="checkbox" id="c-2" />
                    <div class="c-2 children-container">
                        <a href="#" class="c-2 plus">c-2 +</a>
                        <a href="#" class="c-2 minus">c-2 -</a>
                        <ul class="c-2 children">
                            <li>
                                <label for="c-2-1">C-2-1</label>
                                <input type="checkbox" id="c-2-1" />
                                <ul class=""></ul>
                            </li>
                            <li>
                                <label for="c-2-2">C-2-2</label>
                                <input type="checkbox" id="c-2-2" />
                                <ul class=""></ul>
                            </li>
                            <li>
                                <label for="c-2-3">C-2-3</label>
                                <input type="checkbox" id="c-2-3" />
                                <ul class=""></ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label for="c-3">C-3</label>
                    <input type="checkbox" id="c-3" />
                    <ul class=""></ul>
                </li>
            </ul>
        </div>    
    </li>
</ul>

<input type="text" value=""/>
<select id="selections">
    <option id="" value=""></option>
</select>

</div>