@model Bluepill.Web.Areas.layout.Models.CreateModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section css
{ 
    <link href="/content/layout.create.css" rel="stylesheet" type="text/css" /> 
}

@section script
{ 
    <script src="/scripts/layout.create.js" type="text/javascript"></script>
}

<div class="span6">


    @using (Html.BeginForm("Save", "Create", new { id = "test" }))
    {

        foreach (var facet in Model.Facets)
        {
                @Html.Partial("Facet", facet);
        }
    
        <a href="#"class="button submit">Save</a>
    }    
    
</div>

<div class="span6">
    content
</div>
