@model Bluepill.Web.Areas.Administration.Models.SearchModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section css
{ 
    <link href="/content/bluepill.search.css" rel="stylesheet" type="text/css" /> 
}

@section script
{ 
    <script src="/scripts/application.search.interface.js" type="text/javascript"></script>
    <script src="/scripts/bluepill.search.js" type="text/javascript"></script>
    <script src="/scripts/jquery.mousewheel.js" type="text/javascript"></script>
}

<div class="span2 heading match-counts">
    <ul>
        <li><h2>Page <span id="currentPage">167</span></h2></li>
        <li><span id="boxes">42</span> matches  -  <span id="maxPage">500</span> pages</li>
    </ul>
</div>

<div class="span7 height2 heading drop-gradient trash">
    <h2>Drag picture here to remove.</h2>
</div>

<div class="span2 small-font height2 height2-vertical-align heading">
    <div class="pull-right">
        <a href="#" class="button edit">Edit Search</a>
    </div>
</div>

<div class="span12 height14 interface">
    <form>
        @Html.HiddenFor(x => x.Page)
        @Html.HiddenFor(x => x.PageDelta)
        @Html.HiddenFor(x => x.TotalPages)
        <div class="facets-area">
            @Html.EditorFor(x => x.Facets)
        </div>
        <a href="#" class="button submit">Search</a>
        <a href="#" class="button cancel">Cancel</a>
    </form>
</div>

<div class="span12 height14 match-area hide">
    <p>matches</p>
    <div class="matches" data-page="2" data-max="0" data-boxes="0"></div>
</div>
