@model Bluepill.Web.Areas.Administration.Models.SearchModel

@{ Layout = null; }


<div id="results" data-page="@Model.Page" data-max="@Model.TotalPages" data-boxes="@Model.TotalBoxes">

    @for (int i = 0; i <= Model.MaxIndex; i++)
    {
        <div><img src="~/application/picture/getpicturebytes?index=@i" /></div>
    }

</div>
