<!DOCTYPE html>
<html>
<head>
    <title>Blue Pill</title>
    <link href="/content/global.css" rel="stylesheet" type="text/css" />
    @if (IsSectionDefined("css"))
    {
        @RenderSection("css")
    }
</head>
<body>
    @RenderBody()
</body>
</html>

