<!DOCTYPE html>
<html>
<head>
    <title>Blue Pill</title>
    <link href="/content/global.css" rel="stylesheet" type="text/css" />
    <link href="/content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="/content/themes/sunny/jquery-ui-1.8.23.custom.css")" type="text/css" rel="stylesheet" />
    @if (IsSectionDefined("css"))
    {
        @RenderSection("css")
    }
    
    <script src="/scripts/jquery-1.8.1.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery-ui-1.8.23.min.js" type="text/javascript"></script>
    <script src="/scripts/global.js" type="text/javascript"></script>
    @if (IsSectionDefined("script"))
    {
        @RenderSection("script")
    }

</head>
<body>
    @RenderBody()
    <a href="~/application/authentication">sign off</a>
</body>
</html>

