.facet-area label { padding-left:2.3em; cursor:pointer; line-height:32px; margin:0; }
.facet-area label.on { background:url(/content/images/checkbox_full.png) no-repeat left center; }
.facet-area label.off { background:url(/content/images/checkbox_empty.png) no-repeat left center; color:#575d6d   }

.selections { color:#83B0E1 !important }

.accordion-heading a { text-decoration:none; font-size:1.5em; color:#575d6d }
.accordion-heading a:active { color:#575d6d }
.accordion-inner { border-top:none; }
.accordion-group { border:1px solid #222 }

ul { list-style:none; }

.show-all { margin: 20px 3px 0px 0px; }