.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

/*.wrap { border:1px solid #83B0E1; height:200px; width:200px; line-height:200px; text-align:center; }*/

.frame { text-align:center; }

.actions .btn { opacity:0.4; }
.actions .always-on { opacity:1 }



.bluepill-border {  }
.match { height:200px; width:200px; line-height:200px; text-align:center; }
.match img { opacity:0; vertical-align:middle; border:1px solid  #83B0E1 /*#FEDC69*/ }
.matches div { float:left; margin:3px 8px 3px 0;  /*width:200px; height:200px; float:left; margin:3px 8px 3px 0; text-align:center; line-height:200px;*/ }