body { background-color:#100f0f; color:#f3bf77; font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif; }

.small { font-size:0.8em }
.ui-dialog .ui-dialog-titlebar { height:20px; background:none; border:none; padding:0; margin:0 }
/*.settings { float:right; margin-top:-15px; border-bottom: 1px solid; width:100%; padding-bottom:5px; }*/
.settings { border-bottom:1px solid #514028; width:100%; padding-bottom:10px; height:30px; background-color:#330303 }
.floater { float:right; }
.ui-accordion .ui-accordion-content { overflow:hidden !important; }
/*.nav { margin:5px; color:#f3bf77;}
.last { padding-right:200px !important; }*/
.breadCrumb { color:#330303; float:right; }
