body { background:#808080 }


div.page { width:1500px; margin:0 auto; }
div.content {border:3px solid #7a0b0b; background:#120c0c; color:#eae38f; float:left}

[class^="span"] { float:left; margin:1px 1px 0 1px; }
[class^="span"] div { margin:1px; }
[class^="span"] div img { vertical-align:middle; }

.span12 { width:1498px; background:#2bc5d4; }
.span6 { width:748px; background:#83d129; }
.span1 { width:36px; background:#eae38f; }
.span11 { width:1433px; }

.display { }
.results {  }
.result { float:left; padding:3px; }
.result img { border:1px solid #ffd800; }

.height12 { height:754px; }

.height1 { height:61px; }
.height10 { height:628px; }