ul { list-style-type:none }

.children-container { border:1px solid #ffd800; display:none; margin-left:15px; }

.plus-minus { display:inline-block; }
.plus-minus li { float:left; padding:0 10px 0 2px; }
.plus-minus li a { font-size:32px; text-decoration:none; color:#ffd800 }

select { margin-top:50px; }



