
<link href="/content/application.settings.css" rel="stylesheet" type="text/css" /> 
<script src="/scripts/application.settings.js" type="text/javascript"></script>


<div class="span12">
   <div class="bar">
        <ul>
            <li><a class="button" href="\bluepill\create">Add</a></li>
            <li><a class="button" href="\bluepill\search">Search</a></li>
            <li><a class="button" href="\framework\authentication">Sign Off</a></li>
        </ul>
    </div>
</div>