@model Bluepill.Web.Areas.Application.Models.SettingsModel

<div class="settings">
    @Html.DropDownListFor(x => x.WorkingCollection, Model.CollectionsDropDown, new { @class="collectionSelect", data_uid=Model.UserName })
    <a href="\application\authentication" class="small signoff">Sign Off</a>
</div>




