@model Bluepill.Web.Areas.Application.Models.SettingsModel

<div class="settings">
    <a href="\administration\create" class="nav" data-navigation-index="0">Create</a>
    <a href="\administration\search" class="nav last" data-navigation-index="1">Search</a>
    @Html.DropDownListFor(x => x.WorkingCollection, Model.CollectionsDropDown, new { @class="collectionSelect", data_uid=Model.UserName })
    <a href="\application\authentication" class="small signoff">Sign Off</a>
</div>




